*{
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    justify-content: space-around;
}

ul li{
    float: left;
    list-style-type: none;
}

.le{
    color: red;
}

.chan{
    color: blue;
}

.container{
    display: flex;
    justify-content: space-between;
}

button{
    border: none;
}